#component-input {
   display: flex;
   flex-direction: column;
}

#component-input label {
   font-weight: 600;
   color: var(--label-color);
   margin: 1rem 0rem; 
}

#component-input input {
   width: 100%;
   height: 3.5rem;
   border: 1px solid var(--border-input-color);
   border-radius: 1.25rem;
   outline: 0;

   background: var(--background-input-color);
   padding-left: 1rem;

   color: var(--title-color);
}

#component-input .password {
   display: flex;
   align-items: center;
}

#component-input .password svg {
   margin-left: -3.12rem;
}