#page-user .content {
   width: 50%;
   margin: auto;
}

#page-user .content header {
   color: var(--label-color);
   padding: 2rem;
   text-align: center;
}

#page-user .content main {
   background-color: var(--white-color);   
   padding: 3rem;
   border-radius: 1rem;
   margin-bottom: 3rem;
}

#page-user .content main h1 {
   color: var(--title-color);
   padding-bottom: 1.5rem;
   border-bottom: 1px solid var(--grey-color);

}
