#component-usercard {
   width: 100%;
   background-color: var(--white-color);
   padding: 1.5rem 1rem;
   border-radius: 1.7rem;
}

#component-usercard header {
   padding: .5rem .5rem !important;
   margin-bottom: 1rem;

}

#component-usercard header .links {
   display: flex;
}

#component-usercard header a {
   background: var(--grey-color);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 3rem;
   height: 3rem;
   border-radius: 1rem;
   margin-left: .8rem;
}

#component-usercard header p.name {
   color: var(--title-color);
   font-size: 1.4rem;
   font-weight: bold;
}

#component-usercard main p {
   color: var(--label-color);
}